* {
  margin: 0;
  padding: 0;
}

body {
  color:#f0fdfc;
  background-color: #042f2c;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.sectionListado {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.card {
  padding: 1em;
  background: linear-gradient(#2dd4c7, #115e58);
  width: 35vw;
  height: 42vh;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.card-imagen{
  display: flex;
  justify-content: center;
}
.card-imagen img{
  border-radius: 50%;
  border: 5px solid #99f6ef;
}
p{
  color: #99f6ef;
}
.contenido{
  color:#f0fdfc;
}
.card-body-title{
  display: flex;
  justify-content:space-between;
  gap: 16px;
}
.card-body-title div{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 12px;
}